.btn {
    padding: 10px 20px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom:5px;
    }


.carousel-inner > .item > img {
    margin: 0 auto;
  }

  
.feature {
   }


.feature .container-1200 {
  padding-top: 5px;
  height: 366px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  }


.feature .container-1200 .block {
  background:rgba(40,0,0,0.5);
  box-shadow: 1px 1px 5px #333;
  height: 340px;
  bottom: 10px;
  left: 25px;
  padding: 20px 20px;
  position: absolute;
  width: 350px;
  }


.feature .container-1200 .block h3 {
  padding-top: 5px;
  color:#ff6600; 
  font-size: 30px;
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 18px;
  /*text-shadow: 0 1px 0 #fff;*/
  }


.feature .container-1200 .block p {
  color:#000033;
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
  }

  

footer {
  background-color: #000;
  color: #dadada;
  margin-top: 20px;
  width: 100%;
  }

  

body {
        background-color: white;
    }



.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}





  

 

