@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


body {
	font-family: 'Open Sans', sans-serif;
	color: #25272B;
}

::selection {
	background: #008cba;
	color:#fff;
}

::-moz-selection {
	background: #008cba;
	color:#fff;
}

.divide {
	margin-top: 5%;
	margin-bottom: 5%;
}

.divide-bottom {
	margin-bottom: 5%;
}

/* ==== 2) Typography ==== */

p {
	margin: 20px 0 0 0;
}

h1 {
	font-size: 56px;
	font-weight: 300;
	margin: 20px 0 0 0;
	line-height: 1;
	letter-spacing: -2px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 42px;
		letter-spacing: -2px;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 28px;
		letter-spacing: -1px;
	}
}

h3 {
	font-size: 20px;
	font-weight: 300;
}

h4 {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
}

a {
	color: #25272B;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
}

a:hover {
	color: #949598;
	text-decoration: none;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
}

textarea:focus, input:focus, a:focus, *:focus {
	outline: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0;
}

/* ==== 3) Intro ==== */

.color-overlay{
	    background: rgba(0, 0, 0, 0.55);

}
#content-overlay{
	background: rgba(0,0,0,0.30);
	background-size: cover;
}
#content{
	padding-top: 375px;
	padding-bottom: 50px;
	/*margin-left: 50px;*/
	font-family: 'Open Sans',Georgia,serif;
	font-size: 50px;
	color: white;
	font-weight: 100;
	
}

#intro {
	min-height: 445px;
	background: #008cba url("team.png") no-repeat center center;
	background-color: rgba(0,0,0,0.55);
	-webkit-background-size: cover;
	background-size: cover;
}

#intro h1 {
	font-weight: 300;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	margin: auto;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ==== 4) Sections Headers - Global ==== */

h1.header {
	font-size: 72px;
	color: #fff;
	text-align: center;
	margin-bottom: 15px;
	letter-spacing: -3px;
}

@media (max-width: 768px) {
	h1.header {
		font-size: 48px;
		letter-spacing: -2px;
	}
}

@media (max-width: 480px) {
	h1.header {
		font-size: 36px;
		letter-spacing: -1px;
	}
}

p.header {
	font-size: 13px;
	color: #fff;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#services-top,
#gallery-top,
#team-top {
	padding: 90px 0;
}

@media (max-width: 767px) {
	#services-top,
	#works-top,
	#gallery-top,
	#team-top {
		padding: 50px 0;
	}
}


/* ==== 6) Works ==== */

#works-top {
	
	background: url("team.jpg") no-repeat center center;
	background-size: cover;
}

#abc{
	/*background: rgba(0,0,0,0.25);*/
	background-size: cover;
	padding-top: 90px;
	padding-bottom: 90px;
}
#works {
	background: #fff;
}

#works h1 {
	color: #008cba;
	font-size: 3.5em;
	letter-spacing: 0.01em;
	line-height: 1.25;
	margin: 20px 0 0 0;
}
#works-top h1{
	text-align: right;
	padding-right: 20%;

}
#works-top p{
	text-align: right;
	padding-right: 25%}
#faq{
	margin-left: 0;
}
#works h3 {
	color: #008cba;
	font-size: 1.5em;
	letter-spacing: 0.05em;
	margin: 0px 0 0 0;
}

#works h4 {
	color: #bbbdc0;
	margin: 20px 0 0 0;
}

#works p {
	font-size: 1.5em;
	text-align: justify;
	font-weight: 300;
	margin: 20px 0 0 0;
}

.btn.btn-link {
	font-weight: 300;
	font-size: 13px;
	background-color: transparent;
	color:  #008cba;
	border: 0;
	border-radius: 0;
	outline: 1px solid;
	outline-offset: 1px;
	outline-color: rgba(0, 140, 186, 1);
	margin: 20px 0 0 0;
	padding: 8px 13px;
	text-decoration: none;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.btn.btn-link:hover {
	background-color:  #008cba;
	color: #fff;
	outline-offset: 10px;
	outline-color: rgba(0, 140, 186, 0);
}


/* ==== 8) Team ==== */

#team-top {
	background: url("team_bg.jpg") no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

#team {
	background: #fff;
}

#team .thumbnail, #team .team-img {
	background-color: transparent;
	position: relative;
	text-align: center;
	padding: 0;
	top-margin: 50px;
	border: 0;
}

#team .thumbnail h3 {
	font-size: 3em;
	font-weight: 300;
	color: red;
	margin: 15px 0 0 0;
}

#team .thumbnail h4 {
	font-size: 1.5em;
	font-weight: 300;
	margin: 15px 0 0 0;
	text-transform: initial;
}

#team .thumbnail p {
	font-size: 1.3em;
	font-weight: normal;
	margin: 15px 0 0 0;
	text-align: justify;
}

.team-overlay {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.team-overlay .myway-icon-team {
	position: absolute;
	top: 110%;
	left: 50%;
	right: 0;
	display: inline-block;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: top .2s ease;
	-moz-transition: top .2s ease;
	-ms-transition: top .2s ease;
	-o-transition: top .2s ease;
	transition: top .2s ease;
}

.team-overlay:hover > .myway-icon-team {
	top: 50%;
}

.team-overlay .myway-icon-team a {
	width: 42px;
	height: 42px;
	fill: rgba(255, 255, 255, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 0.08em;
	stroke-opacity: 1;
	stroke-linecap: butt;
	stroke-linejoin: bevel;
	stroke-dasharray: 0, 150;
	stroke-dashoffset: 150px;
	filter: drop-shadow(0px 0px 20px #000);
	-webkit-filter: drop-shadow(0px 0px 30px #000);
	-webkit-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
	-moz-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
	-ms-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
	-o-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
	transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
}

.team-overlay:hover > .myway-icon-team a {
	fill: rgba(255, 255, 255, 1);
	stroke-dasharray: 150, 1;
	stroke-opacity: 0;
}

.myway-icon-team svg {
	padding: 5px;
	display: inline-block;
	max-width: 42px;
}

.myway-icon-team a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.myway-icon-team a {
	position: relative;
	display: inline-block;
	z-index: 1;
	-webkit-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
	-moz-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
	-ms-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
	-o-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
	transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
}

.myway-icon-team a:after {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}



